spring:
  application:
    name: gymconnect

  config:
    import: optional:file:.env.properties

  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: none
    open-in-view: false
    show-sql: true
    properties:
      hibernate:
        default_schema: gymconnect
        format_sql: true

  security:
    jwt:
      secret: ${JWT_SECRET}
      expiration-ms: ${JWT_EXPIRATION_MS:86400000} # 1 day default

  logging:
    level:
      org.springframework.boot.context.properties: TRACE