spring:
  application:
    name: gymconnect

  config:
    import: optional:file:.env

  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: none
    open-in-view: false
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  logging:
    level:
      org.springframework.boot.context.properties: TRACE